@tailwind base;
@tailwind components;
@tailwind utilities;

.touched {
    @apply border-red-500 bg-red-100;
}

.tbody-th {
    @apply [&_tr:not(.hidden):nth-child(even)]:bg-gray-100
    [&_td]:whitespace-nowrap [&_td]:max-w-[15ch] [&_td]:overflow-hidden
    [&_td]:text-ellipsis sm:[&_td]:max-w-[20ch]
    [&_td]:p-2 [&_td]:border [&_tr_>_td:first]:border-l-0 [&_tr_>_td:last]:border-r-0;

    @apply [&_button:hover]:bg-gray-200;
}

.highlited-text {
    @apply bg-red-300;
}

.pagination-input {
    @apply w-[5ch];
}

.filter-button {
    @apply text-neutral-700 rounded-lg px-3 py-1 border-2 flex items-center gap-2 bg-neutral-300;
}

.star {
    @apply text-yellow-500;
}

.tooltip {
    @apply rounded w-[20ch] text-sm font-semibold text-start px-2 border-2 py-2 absolute bg-gray-100 z-10 top-full mr-5 text-nowrap
}

td .tooltip {
    @apply rounded w-[20ch] text-sm font-semibold text-start px-2 border-2 py-2 absolute bg-gray-100 z-10 top-auto mt-6 mr-5 text-nowrap
}

input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #bb4863;
}

.tooltip-actions {
    @apply right-0 mr-1 gap-1;
}